@page
@model BusinessModel

@{
    if (!User.IsInRole("GymOwner"))
    {
        //redirect to home page
        <script type="text/javascript">
            window.location.href = "/Identity/Account/Manage";
        </script>
    }

}

@{
    ViewData["Title"] = "Business";
    ViewData["ActivePage"] = ManageNavPages.Business;
}

<h3>@ViewData["Title"] Info</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<br />
<div class="">
    <div class="col-md-6">
        <form id="Business-form" method="post">
            <span> </span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="">
                <span class="fw-bold" style="">Business Email</span>
                <br />
                <input type="email" asp-for="BusinessEmail" class="form-control" /> 
                <span type="email" asp-validation-for="BusinessEmail" class="text-danger"></span>
                <p></p>
            </div>
            <div class="">
                <span class="fw-bold" style="">Business Contact Number</span>
                <br />
                <input asp-for="BusinessContactNumber" class="form-control" pattern="[0-9]{2,3}-[0-9]{3}-[0-9]{4}" placeholder="012-345-6789" />
                <span asp-validation-for="BusinessContactNumber" class="text-danger"></span>
                <p></p>
            </div>
            <div class="">
                <span class="fw-bold" style="">Business SSM Number</span>
                <br />
                <input asp-for="BusinessSSM" class="form-control"
                       pattern="[0-9]{4}[0-9]{2}[0-9]{6}" title="12 digit SSM Register Number" placeholder="000011222222" />
                <span asp-validation-for="BusinessSSM" class="text-danger"></span>
                <p></p>
            </div>
            <br />
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
