@page
@model IndexModel

@{
    ViewData["Title"] = "Personal Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<br />
<br />
<div class="" style="width:100%;">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <span> </span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Userfname" class="form-control" />
                <label asp-for="Userfname" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Userlname" class="form-control" />
                <label asp-for="Userlname" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input type="date" asp-for="UserDob" class="form-control" />
                <label asp-for="UserDob" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Gender" class="form-control" />
                <label asp-for="Gender" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="ContactNumber" class="form-control" />
                <label asp-for="ContactNumber" class="form-label"></label>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
