@{
    ViewData["Title"] = "Home Page";
}


<div style="height:1600px;background-color:antiquewhite">
<div class="" style="background-image: url('img/bg3.jpg');height:600px;background-size: cover;background-repeat:no-repeat">
    <div class="container" style="padding:12% 0px 0px 0px">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-9 text-center col-sm-12" style="vertical-align:middle;">
                <span class="" style="font-weight:bold;color:red;font-size:48px;">
                    Join Us, Find your Club
                </span>
                <br />
                <span class="" style="font-weight:bold;color:red;font-size:48px;">
                    Start your Journey
                </span>
                <p></p>
                <br />
                <br />

                <button class="btn btn-lg" style="width:360px;height:60px;background-color:orangered;color:white;
                 font-weight:bold;font-size:28px;" onclick="window.location.href='Identity/Account/Register'">
                    Join Here
                </button>
            </div>
        </div>
    </div>
</div>
<center>
        <div class="section" style="padding:100px 0px 0px 340px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service-box">
                            <div class="square-figure">
                                <img src="~/img/gym.png" style="height:120px;" />
                            </div>
                            <p></p>
                            <div class="service-text rounded-3" style="border:2px solid  purple;height:180px;">
                                <h3 style="font-weight:bold;color:rebeccapurple">Find your Club</h3>
                                <p style="font-weight:bold;">
                                    Discover to join the suitable club that you will enjoy through your journey.
                                    <br />
                                    Find through the list of many Gym available to start.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service-box">
                            <div class="square-figure">
                                <img src="~/img/report.png" style="height:120px;" />
                            </div>
                            <p></p>
                            <div class="service-text rounded-3" style="border:2px solid  purple;height:180px;">
                                <h3 style="font-weight:bold;color:rebeccapurple">Get Started</h3>
                                <p style="font-weight:bold;" >
                                    Start your journey here with your club
                                    <br />
                                    or
                                    <br />
                                    Continue with better experience and environemnt
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service-box">
                            <div class="square-figure">
                                  <img src="~/img/fitness.png" style="height:120px;" />
                            </div>
                            <p></p>
                            <div class="service-text rounded-3" style="border:2px solid  purple;height:180px;">
                                <h3 style="font-weight:bold;color:rebeccapurple" >Live Healthy</h3>
                                <p style="font-weight:bold;">
                                   Start here
                                   <br />
                                   Make the change and live better
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</center>


</div>

