@using AWSGymWebsite.Data;
@using AWSGymWebsite.Models;
@{
    ViewData["Title"] = "Home Page";

}


<div style="height:fit-content;background-color:#fef6f5">
<div class="" style="background-image: url('img/bg3.jpg');height:600px;background-size: cover;background-repeat:no-repeat">
    <div class="container" style="padding:12% 0px 0px 0px">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-9 text-center col-sm-12" style="vertical-align:middle;">
                <span class="" style="font-weight:bold;color:red;font-size:48px;">
                    Join Us, Find your Club
                </span>
                <br />
                <span class="" style="font-weight:bold;color:red;font-size:48px;">
                    Start your Journey
                </span>
                <p></p>
                <br />
                <br />

                <button class="btn btn-lg" style="width:360px;height:60px;background-color:orangered;color:white;
                 font-weight:bold;font-size:28px;" onclick="window.location.href='Identity/Account/Register'">
                    Join Here
                </button>
            </div>
        </div>
    </div>
</div>
<center>
        <div class="section" style="padding:100px 0px 0px 340px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service-box">
                            <div class="square-figure">
                                <img src="~/img/gym.png" style="height:120px;" />
                            </div>
                            <p></p>
                            <div class="service-text rounded-3" style="border:2px solid  purple;height:180px;">
                                <h3 style="font-weight:bold;color:rebeccapurple">Find your Club</h3>
                                <p style="font-weight:bold;">
                                    Discover to join the suitable club that you will enjoy through your journey.
                                    <br />
                                    Find through the list of many Gym available to start.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service-box">
                            <div class="square-figure">
                                <img src="~/img/report.png" style="height:120px;" />
                            </div>
                            <p></p>
                            <div class="service-text rounded-3" style="border:2px solid  purple;height:180px;">
                                <h3 style="font-weight:bold;color:rebeccapurple">Get Started</h3>
                                <p style="font-weight:bold;" >
                                    Start your journey here with your club
                                    <br />
                                    or
                                    <br />
                                    Continue with better experience and environemnt
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service-box">
                            <div class="square-figure">
                                  <img src="~/img/fitness.png" style="height:120px;" />
                            </div>
                            <p></p>
                            <div class="service-text rounded-3" style="border:2px solid  purple;height:180px;">
                                <h3 style="font-weight:bold;color:rebeccapurple" >Live Healthy</h3>
                                <p style="font-weight:bold;">
                                   Start here
                                   <br />
                                   Make the change and live better
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</center>
<br />
<p></p>
    <div style="background-color:antiquewhite">
    <table class="table1" style="width:100%;height:340px;" >
        <colgroup>
            <col style="width:40%"/>
            <col style="width:60%"/>
            </colgroup>
        <tbody>
            <tr>
                <td style="vertical-align:top;">
                    <center>
                        <br />
                        <p></p>
                            <div class="square-figure">
                                <img src="~/img/people.png" style="height:120px;" />
                            </div>
                            <p></p>
                            <span class="" style="text-align:center;font-weight:bold;font-size:34px;">
                                Join Us and Expand your Club
                            </span> 
                            <p></p>
                            <span style="font-weight:bold;font-size:20px;">
                                Join with other club owner and share together the amazing available club around with the community.
                                <br />

                            </span>
                            <br />
                            <p></p>
                            <button class="btn btn-lg" onclick="window.location.href='Identity/Account/GymOwnerRegister'"
                                    style="width:360px;height:64px;background-color:orangered;color:white;
                 font-weight:bold;font-size:22px;">
                            Join Now
                        </button>
                    </center>
                  
                </td>
                <td>
                    <img style="width:100%;height:auto;" src="~/img/bg4.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>


</div>
