@model AWSGymWebsite.Models.GymPage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GymPage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="OwnerID"  />
                
            <div class="form-group">
                <label asp-for="GymName" class="control-label"></label>
                <input asp-for="GymName" class="form-control" />
                <span asp-validation-for="GymName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GymLocation" class="control-label"></label>
                <input asp-for="GymLocation" class="form-control" />
                <span asp-validation-for="GymLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingTime" class="control-label"></label>
                <input asp-for="ClosingTime" class="form-control" />
                <span asp-validation-for="ClosingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningTime" class="control-label"></label>
                <input asp-for="OpeningTime" class="form-control" />
                <span asp-validation-for="OpeningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgURL" class="control-label"></label>
                <input asp-for="ImgURL" class="form-control" />
                <span asp-validation-for="ImgURL" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="S3Key" />
            <input type="hidden" asp-for="viewer" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

